.find-work-master{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-work-master{
    width:30em;
    border:2px solid black;
    margin:1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding: 10px;
}
.client-name{
    font-size: 1.6em;
    margin: 0;
}
.client-image{
    height:12em;
    margin: 0;
    padding:0
}
.client-email{
    font-size: 1.3em;
    margin: 0;
}
.profession-req{
    font-size: 1.3em;
    padding:0;
    margin:0;
}
.job-description {
    font-size: 1em;
    margin:0;
}
.search-job-btn{
    width:25em;
}

.search-job-btn:active{
    background: #024bab;
}
.send-req-button:active{
    background: #024bab;
}
