.hamburger-main{
    display: none;
}


.hamburgerNav-2{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 3em;
    font-size: 1.5em;
}
.menu:hover{
    cursor: pointer;
}

@media screen and (max-width: 1092px) {
    .hamburger-main {
        display:flex;
        justify-content: space-between;
        margin:3em 1em 0 2.7em;
    }
  }