.App-divide {
  display: flex;
}

.signup-left {
  /* padding: 24%; */
  display: flex;
  justify-content: center;
  /* margin: 10em 0 0 5em  ; */
  /* margin: 0em 0 0 10em; */
  margin-left: 5%;
  align-items: center;
  height: 44.5em;
  width: 40%;
  background-color: D0D0D0;
  float: left;
}
.signup-right {
  /* padding: 26%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 44.5em;
  width: 40%;
  margin-left: 10%;
  /* border-radius: 3em 0 3em 0; */
  /* background-color: rgb(228, 228, 228); */
  background-image: url(../images/teacher.avif);
  /* background-size:contain; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
}

input {
  border: none;
  padding: 1em 20em 1em 0.5em;
  border-bottom: 1px solid;
}

h1 {
  font-size: 3.5em;
}
p {
  font-size: 1.7em;
}

.Create-Account {
  padding: 1.2em;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  background-image: linear-gradient(to right, #1c08ff, #0095ff);

  /* background-color:#1001bb; */
  color: aliceblue;
}

.Create-Account:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #4c42bb, #06b8ff);
}

.LOGIN {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.login-btn {
  margin-left: 1.5%;
  color: #ff0000;
}
.login-btn:hover {
  cursor: pointer;
  color: #0033ff;
}

/* right side of signup page */

/* .Carousel-image{
    height: 50em;
  } */

@media screen and (max-width: 1131px) {
  h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 935px) {
  .signup-left {
    /* margin-left: 25%;
    margin-right: 25%; */
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 0 0  10% 20%; */
  }
  .small_device {
    display: flex;
    justify-content: center;
  }
  .pic_for_smaller_device {
    padding: 13em;
    background-image: url(../images/teacher.avif);
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
  }

  input {
    padding: 1em 75% 1em 0;
  }

  .signup-right {
    display: none;
  }
  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 3em;
  }
}
@media screen and (max-width: 779px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 3em;
  }
}
@media screen and (max-width: 706px) {
  p {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 626px) {
  p {
    font-size: 2em;
  }
  /* .small_device{
    display: flex;
    justify-content: center;
} */
  /* .pic_for_smaller_device{
    padding: 10em ;
    background-image: url(../images/teacher.avif);
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
} */
}
@media screen and (max-width: 605px) {
  .signup-left {
    width: 80%;
  }
}
@media screen and (max-width: 544px) {
  .signup-left {
    width: 77%;
  }

  p {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 505px) {
  input {
    padding: 1em 19em 1em 0.5em;
  }

  .signup-left {
    width: 65%;
  }

  p {
    font-size: 1.6em;
  }
  h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 482px) {
  p {
    font-size: 1.6em;
  }
  h1 {
    font-size: 2em;
  }
  .LOGIN {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
  }
  .pic_for_smaller_device {
    padding: 10em;
    /* background-image: url(../images/Signup_small.png); */
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 450px) {
  input {
    padding: 1em 15em 1em 0.5em;
  }
}
@media screen and (max-width: 397px) {
  input {
    padding: 1em 13em 1em 0.5em;
  }
}
@media screen and (max-width: 371px) {
  input {
    padding: 1em 8em 1em 0.5em;
  }
}
